In [6]:
from pymongo import MongoClient

In [7]:
#client
mongo = MongoClient("mongodb://localhost:27017")

In [8]:
# creating database
db = mongo["ecommerce_store"]

In [9]:
#Table == collection

customers = db["customers"]

In [10]:
# Document == Row

row = {
    "first _name": "Sam",
    "last_name": "Adams",
    "occupation": "beverage_maker",
    "city": "Boston"
}
#C.R.U.D - Create Read Update Delete
#Create
results = customers.insert_one(row)

if results.acknowledged:
    print(results.inserted_ids)

AttributeError: 'InsertOneResult' object has no attribute 'inserted_ids'

In [11]:
# INSERT MULTIPLE ROWS

rows = [
    {"first_name": "Amy", "last_name": "Jones", "city": "Seattle"},
    {"first_name": "Vu", "last_name": "Huong", "city": "New York"},
    {"first_name": "Keerthi", "last_name": "Mittal", "city": "Charlotte"},
    {"first_name": "Sandy", "last_name": "Richardson", "city": "Portland"},
    {"first_name": "Bryan", "last_name": "Davis", "city": ["Seattle", "Phoenix"]}
]

results = customers.insert_many(rows)
if results.acknowledged:
    print(results.inserted_ids)

[ObjectId('5d40fa907768dc5d2106c8e5'), ObjectId('5d40fa907768dc5d2106c8e6'), ObjectId('5d40fa907768dc5d2106c8e7'), ObjectId('5d40fa907768dc5d2106c8e8'), ObjectId('5d40fa907768dc5d2106c8e9')]

In [12]:
# READ ALL DOCUMENTS
list(customers.find())

[{'_id': ObjectId('5d40f60be726d2392c79fcb8'),
  'first _name': 'Sam',
  'last_name': 'Adams',
  'occupation': 'beverage_maker',
  'city': 'Boston'},
 {'_id': ObjectId('5d40f60ce726d2392c79fcb9'),
  'first_name': 'Amy',
  'last_name': 'Jones',
  'city': 'Seattle'},
 {'_id': ObjectId('5d40f60ce726d2392c79fcba'),
  'first_name': 'Vu',
  'last_name': 'Huong',
  'city': 'New York'},
 {'_id': ObjectId('5d40f60ce726d2392c79fcbb'),
  'first_name': 'Keerthi',
  'last_name': 'Mittal',
  'city': 'Charlotte'},
 {'_id': ObjectId('5d40f60ce726d2392c79fcbc'),
  'first_name': 'Sandy',
  'last_name': 'Richardson',
  'city': 'Portland'},
 {'_id': ObjectId('5d40f60ce726d2392c79fcbd'),
  'first_name': 'Bryan',
  'last_name': 'Davis',
  'city': 'Seattle'},
 {'_id': ObjectId('5d40f81de726d2392c79fcbe'),
  'first _name': 'Sam',
  'last_name': 'Adams',
  'occupation': 'beverage_maker',
  'city': 'Boston'},
 {'_id': ObjectId('5d40f83ce726d2392c79fcbf'),
  'first _name': 'Sam',
  'last_name': 'Adams',
  'occupation': 'beverage_maker',
  'city': 'Boston'},
 {'_id': ObjectId('5d40f8d8e726d2392c79fcc0'),
  'first_name': 'Amy',
  'last_name': 'Jones',
  'city': 'Seattle'},
 {'_id': ObjectId('5d40f8d8e726d2392c79fcc1'),
  'first_name': 'Vu',
  'last_name': 'Huong',
  'city': 'New York'},
 {'_id': ObjectId('5d40f8d8e726d2392c79fcc2'),
  'first_name': 'Keerthi',
  'last_name': 'Mittal',
  'city': 'Charlotte'},
 {'_id': ObjectId('5d40f8d8e726d2392c79fcc3'),
  'first_name': 'Sandy',
  'last_name': 'Richardson',
  'city': 'Portland'},
 {'_id': ObjectId('5d40f8d8e726d2392c79fcc4'),
  'first_name': 'Bryan',
  'last_name': 'Davis',
  'city': ['Seattle', 'Phoenix']},
 {'_id': ObjectId('5d40f99fe726d2392c79fcc5'),
  'first_name': 'Amy',
  'last_name': 'Jones',
  'city': 'Seattle'},
 {'_id': ObjectId('5d40f99fe726d2392c79fcc6'),
  'first_name': 'Vu',
  'last_name': 'Huong',
  'city': 'New York'},
 {'_id': ObjectId('5d40f99fe726d2392c79fcc7'),
  'first_name': 'Keerthi',
  'last_name': 'Mittal',
  'city': 'Charlotte'},
 {'_id': ObjectId('5d40f99fe726d2392c79fcc8'),
  'first_name': 'Sandy',
  'last_name': 'Richardson',
  'city': 'Portland'},
 {'_id': ObjectId('5d40f99fe726d2392c79fcc9'),
  'first_name': 'Bryan',
  'last_name': 'Davis',
  'city': ['Seattle', 'Phoenix']},
 {'_id': ObjectId('5d40f9a7e726d2392c79fccb'),
  'first _name': 'Sam',
  'last_name': 'Adams',
  'occupation': 'beverage_maker',
  'city': 'Boston'},
 {'_id': ObjectId('5d40f9a7e726d2392c79fccc'),
  'first_name': 'Amy',
  'last_name': 'Jones',
  'city': 'Seattle'},
 {'_id': ObjectId('5d40f9a7e726d2392c79fccd'),
  'first_name': 'Vu',
  'last_name': 'Huong',
  'city': 'New York'},
 {'_id': ObjectId('5d40f9a7e726d2392c79fcce'),
  'first_name': 'Keerthi',
  'last_name': 'Mittal',
  'city': 'Charlotte'},
 {'_id': ObjectId('5d40f9a7e726d2392c79fccf'),
  'first_name': 'Sandy',
  'last_name': 'Richardson',
  'city': 'Portland'},
 {'_id': ObjectId('5d40f9a7e726d2392c79fcd0'),
  'first_name': 'Bryan',
  'last_name': 'Davis',
  'city': ['Seattle', 'Phoenix']},
 {'_id': ObjectId('5d40fa907768dc5d2106c8e4'),
  'first _name': 'Sam',
  'last_name': 'Adams',
  'occupation': 'beverage_maker',
  'city': 'Boston'},
 {'_id': ObjectId('5d40fa907768dc5d2106c8e5'),
  'first_name': 'Amy',
  'last_name': 'Jones',
  'city': 'Seattle'},
 {'_id': ObjectId('5d40fa907768dc5d2106c8e6'),
  'first_name': 'Vu',
  'last_name': 'Huong',
  'city': 'New York'},
 {'_id': ObjectId('5d40fa907768dc5d2106c8e7'),
  'first_name': 'Keerthi',
  'last_name': 'Mittal',
  'city': 'Charlotte'},
 {'_id': ObjectId('5d40fa907768dc5d2106c8e8'),
  'first_name': 'Sandy',
  'last_name': 'Richardson',
  'city': 'Portland'},
 {'_id': ObjectId('5d40fa907768dc5d2106c8e9'),
  'first_name': 'Bryan',
  'last_name': 'Davis',
  'city': ['Seattle', 'Phoenix']}]

In [13]:
where = {"city": "Seattle"}

seattlites = customers.find(where)

list(seattlites)

[{'_id': ObjectId('5d40f60ce726d2392c79fcb9'),
  'first_name': 'Amy',
  'last_name': 'Jones',
  'city': 'Seattle'},
 {'_id': ObjectId('5d40f60ce726d2392c79fcbd'),
  'first_name': 'Bryan',
  'last_name': 'Davis',
  'city': 'Seattle'},
 {'_id': ObjectId('5d40f8d8e726d2392c79fcc0'),
  'first_name': 'Amy',
  'last_name': 'Jones',
  'city': 'Seattle'},
 {'_id': ObjectId('5d40f8d8e726d2392c79fcc4'),
  'first_name': 'Bryan',
  'last_name': 'Davis',
  'city': ['Seattle', 'Phoenix']},
 {'_id': ObjectId('5d40f99fe726d2392c79fcc5'),
  'first_name': 'Amy',
  'last_name': 'Jones',
  'city': 'Seattle'},
 {'_id': ObjectId('5d40f99fe726d2392c79fcc9'),
  'first_name': 'Bryan',
  'last_name': 'Davis',
  'city': ['Seattle', 'Phoenix']},
 {'_id': ObjectId('5d40f9a7e726d2392c79fccc'),
  'first_name': 'Amy',
  'last_name': 'Jones',
  'city': 'Seattle'},
 {'_id': ObjectId('5d40f9a7e726d2392c79fcd0'),
  'first_name': 'Bryan',
  'last_name': 'Davis',
  'city': ['Seattle', 'Phoenix']},
 {'_id': ObjectId('5d40fa907768dc5d2106c8e5'),
  'first_name': 'Amy',
  'last_name': 'Jones',
  'city': 'Seattle'},
 {'_id': ObjectId('5d40fa907768dc5d2106c8e9'),
  'first_name': 'Bryan',
  'last_name': 'Davis',
  'city': ['Seattle', 'Phoenix']}]

In [31]:
# UPDATE

where = {
    "last_name": "Huong"
}
update = {
    "$set": {"city": "San Francisco"}
}

results = customers.update_one(
    where,
    update
)

In [29]:
results.matched_count

5

In [30]:
list(customers.find({"last_name":"Houng"}))

[]

In [34]:
# UPDATE

where = {
    "last_name": "Huong"
}
update = {
    "$set": {"city": "San Francisco"}
}

customers.update_many(
    where,
    update
)

In [35]:
list(customers.find({"city":"Seattle"}))

[{'_id': ObjectId('5d40f60ce726d2392c79fcb9'),
  'first_name': 'Amy',
  'last_name': 'Jones',
  'city': 'Seattle'},
 {'_id': ObjectId('5d40f60ce726d2392c79fcbd'),
  'first_name': 'Bryan',
  'last_name': 'Davis',
  'city': 'Seattle'},
 {'_id': ObjectId('5d40f8d8e726d2392c79fcc0'),
  'first_name': 'Amy',
  'last_name': 'Jones',
  'city': 'Seattle'},
 {'_id': ObjectId('5d40f8d8e726d2392c79fcc4'),
  'first_name': 'Bryan',
  'last_name': 'Davis',
  'city': ['Seattle', 'Phoenix']},
 {'_id': ObjectId('5d40f99fe726d2392c79fcc5'),
  'first_name': 'Amy',
  'last_name': 'Jones',
  'city': 'Seattle'},
 {'_id': ObjectId('5d40f99fe726d2392c79fcc9'),
  'first_name': 'Bryan',
  'last_name': 'Davis',
  'city': ['Seattle', 'Phoenix']},
 {'_id': ObjectId('5d40f9a7e726d2392c79fccc'),
  'first_name': 'Amy',
  'last_name': 'Jones',
  'city': 'Seattle'},
 {'_id': ObjectId('5d40f9a7e726d2392c79fcd0'),
  'first_name': 'Bryan',
  'last_name': 'Davis',
  'city': ['Seattle', 'Phoenix']},
 {'_id': ObjectId('5d40fa907768dc5d2106c8e5'),
  'first_name': 'Amy',
  'last_name': 'Jones',
  'city': 'Seattle'},
 {'_id': ObjectId('5d40fa907768dc5d2106c8e9'),
  'first_name': 'Bryan',
  'last_name': 'Davis',
  'city': ['Seattle', 'Phoenix']}]

In [44]:
from random import randint, random, seed
from datetime import datetime


where = {
    "city": "San Francisco"
}
update = {
    "$set": {"age": 35}
}

customers.update_many(
    where,
    update
)

In [46]:
list(customers.find({"city":"San Francisco"}))

[{'_id': ObjectId('5d40f60ce726d2392c79fcba'),
  'first_name': 'Vu',
  'last_name': 'Huong',
  'city': 'San Francisco',
  'age': 35},
 {'_id': ObjectId('5d40f8d8e726d2392c79fcc1'),
  'first_name': 'Vu',
  'last_name': 'Huong',
  'city': 'San Francisco',
  'age': 35},
 {'_id': ObjectId('5d40f99fe726d2392c79fcc6'),
  'first_name': 'Vu',
  'last_name': 'Huong',
  'city': 'San Francisco',
  'age': 35},
 {'_id': ObjectId('5d40f9a7e726d2392c79fccd'),
  'first_name': 'Vu',
  'last_name': 'Huong',
  'city': 'San Francisco',
  'age': 35},
 {'_id': ObjectId('5d40fa907768dc5d2106c8e6'),
  'first_name': 'Vu',
  'last_name': 'Huong',
  'city': 'San Francisco',
  'age': 35}]

In [47]:
list(customers.find({
    "age": {"$gt": 32} # means greater than 32
}))

[{'_id': ObjectId('5d40f60ce726d2392c79fcba'),
  'first_name': 'Vu',
  'last_name': 'Huong',
  'city': 'San Francisco',
  'age': 35},
 {'_id': ObjectId('5d40f8d8e726d2392c79fcc1'),
  'first_name': 'Vu',
  'last_name': 'Huong',
  'city': 'San Francisco',
  'age': 35},
 {'_id': ObjectId('5d40f99fe726d2392c79fcc6'),
  'first_name': 'Vu',
  'last_name': 'Huong',
  'city': 'San Francisco',
  'age': 35},
 {'_id': ObjectId('5d40f9a7e726d2392c79fccd'),
  'first_name': 'Vu',
  'last_name': 'Huong',
  'city': 'San Francisco',
  'age': 35},
 {'_id': ObjectId('5d40fa907768dc5d2106c8e6'),
  'first_name': 'Vu',
  'last_name': 'Huong',
  'city': 'San Francisco',
  'age': 35}]

In [48]:
list(customers.find({
    "age": {"$lt": 32}, # means greater than 32
    "occupation": {"$eq": "developer"}
}))

[]

In [55]:
where = {
    "city": "San Francisco"
}

customers.delete_many(
    where
)

In [56]:
from pprint import pprint
for customer in customers.find():
    pprint(customer)

{'_id': ObjectId('5d40f60be726d2392c79fcb8'),
 'city': 'Boston',
 'first _name': 'Sam',
 'last_name': 'Adams',
 'occupation': 'beverage_maker'}
{'_id': ObjectId('5d40f60ce726d2392c79fcb9'),
 'city': 'Seattle',
 'first_name': 'Amy',
 'last_name': 'Jones'}
{'_id': ObjectId('5d40f60ce726d2392c79fcbb'),
 'city': 'Charlotte',
 'first_name': 'Keerthi',
 'last_name': 'Mittal'}
{'_id': ObjectId('5d40f60ce726d2392c79fcbc'),
 'city': 'Portland',
 'first_name': 'Sandy',
 'last_name': 'Richardson'}
{'_id': ObjectId('5d40f60ce726d2392c79fcbd'),
 'city': 'Seattle',
 'first_name': 'Bryan',
 'last_name': 'Davis'}
{'_id': ObjectId('5d40f81de726d2392c79fcbe'),
 'city': 'Boston',
 'first _name': 'Sam',
 'last_name': 'Adams',
 'occupation': 'beverage_maker'}
{'_id': ObjectId('5d40f83ce726d2392c79fcbf'),
 'city': 'Boston',
 'first _name': 'Sam',
 'last_name': 'Adams',
 'occupation': 'beverage_maker'}
{'_id': ObjectId('5d40f8d8e726d2392c79fcc0'),
 'city': 'Seattle',
 'first_name': 'Amy',
 'last_name': 'Jones'}
{'_id': ObjectId('5d40f8d8e726d2392c79fcc2'),
 'city': 'Charlotte',
 'first_name': 'Keerthi',
 'last_name': 'Mittal'}
{'_id': ObjectId('5d40f8d8e726d2392c79fcc3'),
 'city': 'Portland',
 'first_name': 'Sandy',
 'last_name': 'Richardson'}
{'_id': ObjectId('5d40f8d8e726d2392c79fcc4'),
 'city': ['Seattle', 'Phoenix'],
 'first_name': 'Bryan',
 'last_name': 'Davis'}
{'_id': ObjectId('5d40f99fe726d2392c79fcc5'),
 'city': 'Seattle',
 'first_name': 'Amy',
 'last_name': 'Jones'}
{'_id': ObjectId('5d40f99fe726d2392c79fcc7'),
 'city': 'Charlotte',
 'first_name': 'Keerthi',
 'last_name': 'Mittal'}
{'_id': ObjectId('5d40f99fe726d2392c79fcc8'),
 'city': 'Portland',
 'first_name': 'Sandy',
 'last_name': 'Richardson'}
{'_id': ObjectId('5d40f99fe726d2392c79fcc9'),
 'city': ['Seattle', 'Phoenix'],
 'first_name': 'Bryan',
 'last_name': 'Davis'}
{'_id': ObjectId('5d40f9a7e726d2392c79fccb'),
 'city': 'Boston',
 'first _name': 'Sam',
 'last_name': 'Adams',
 'occupation': 'beverage_maker'}
{'_id': ObjectId('5d40f9a7e726d2392c79fccc'),
 'city': 'Seattle',
 'first_name': 'Amy',
 'last_name': 'Jones'}
{'_id': ObjectId('5d40f9a7e726d2392c79fcce'),
 'city': 'Charlotte',
 'first_name': 'Keerthi',
 'last_name': 'Mittal'}
{'_id': ObjectId('5d40f9a7e726d2392c79fccf'),
 'city': 'Portland',
 'first_name': 'Sandy',
 'last_name': 'Richardson'}
{'_id': ObjectId('5d40f9a7e726d2392c79fcd0'),
 'city': ['Seattle', 'Phoenix'],
 'first_name': 'Bryan',
 'last_name': 'Davis'}
{'_id': ObjectId('5d40fa907768dc5d2106c8e4'),
 'city': 'Boston',
 'first _name': 'Sam',
 'last_name': 'Adams',
 'occupation': 'beverage_maker'}
{'_id': ObjectId('5d40fa907768dc5d2106c8e5'),
 'city': 'Seattle',
 'first_name': 'Amy',
 'last_name': 'Jones'}
{'_id': ObjectId('5d40fa907768dc5d2106c8e7'),
 'city': 'Charlotte',
 'first_name': 'Keerthi',
 'last_name': 'Mittal'}
{'_id': ObjectId('5d40fa907768dc5d2106c8e8'),
 'city': 'Portland',
 'first_name': 'Sandy',
 'last_name': 'Richardson'}
{'_id': ObjectId('5d40fa907768dc5d2106c8e9'),
 'city': ['Seattle', 'Phoenix'],
 'first_name': 'Bryan',
 'last_name': 'Davis'}

In [58]:
update({}, {'$unset': {'parent.toremove':1}}, multi=True)

cusomters.update_man7(
{"city": "Boston", "last_name":"Adams"},
{"$mod": "occupation"}
)

TypeError: 'dict' object is not callable

In [59]:
customers.drop()